* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.header {
  background: darkred;
  color: white;
  padding: 15px;
  text-align: center;
}


.login-body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  text-align: center;
  border-radius: 8px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}


.container {
  display: flex;
  height: calc(100vh - 70px);
}

.sidebar {
  width: 220px;
  background: gold;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}


.form-section, .data-section {
  width: 45%;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background: darkred;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}


.about-container {
  padding: 30px;
  max-width: 600px;
  margin: auto;
}

